.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define tres columnas de igual ancho */
    gap: 10px; /* Espaciado entre tarjetas */
}

.tmim {

    width: 20px;
    height: 20px;

  }

  .card-img-50 {
    height: 40px;
    width: 40px;  /* mantiene el aspecto original de la imagen */
}

.orange-background {
    background-color: #E2D162;
  }
  
  .seat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.outer-table {
  margin-left: auto;
  margin-right: auto;
}

.sold-text {
  color: red;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px; /* Ajusta este valor según sea necesario para centrar verticalmente */
}
