<app-cabecerx></app-cabecerx>
<br>
<br>
<br>
<p></p>
<br>
<p></p>
<br>
<p></p>

<div class="container mt-2">
  <div class="d-flex justify-content-center mb-3">
      <button mat-fab color="primary" aria-label="Example icon button with a home icon" (click)="redirectToHome()">
          <mat-icon>home</mat-icon>
      </button>
  </div>
  <div class="row">
      <ng-container *ngFor="let i of getArrayOfSize(numeroAsientos); let idx = index">
          <div class="col-md-5 mb-2">
              <div class="card" [ngClass]="{'orange-background': isSeatSold(idx + 1)}">
                  <div class="row g-0">
                      <div class="col-md-3 mt-3 mb-2 seat-container">
                          <img src="../../../assets/img/asiento_tierra.png" [routerLink]="isSeatSold(idx + 1) ? null : ['/ventapasaje']"
                              [queryParams]="{
                                  asiento: idx + 1,
                                  origen: origen,
                                  destino: destino,
                                  tipo: tipo,
                                  fecharegistro: fecharegistro,
                                  placa: placa,
                                  hora: hora,
                                  precio: precio
                              }"
                              class="img-fluid rounded-start centered-image cursor-pointer"
                              alt="Imagen del asiento">
                          <div class="d-flex justify-content-center mt-2">
                              <button mat-raised-button color="primary" id="buyButton{{ idx }}"
                                  [routerLink]="isSeatSold(idx + 1) ? null : ['/ventapasaje']"
                                  [queryParams]="{
                                      asiento: idx + 1,
                                      origen: origen,
                                      destino: destino,
                                      tipo: tipo,
                                      fecharegistro: fecharegistro,
                                      placa: placa,
                                      hora: hora,
                                      precio: precio
                                  }"
                                  [disabled]="isSeatSold(idx + 1)"
                                  (click)="openSoldSeatModal(idx + 1)">Comprar</button>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="card-body">
                              <h4 class="card-title">Asiento {{ idx + 1 }}</h4>
                              <p *ngIf="isSeatSold(idx + 1)" class="text-danger">Vendido</p>
                              <!-- Resto del código de la tarjeta -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    
      </ng-container>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="soldSeatModal" tabindex="-1" role="dialog" aria-labelledby="soldSeatModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="soldSeatModalLabel">Asiento Vendido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Este asiento ya ha sido vendido. Por favor, seleccione otro asiento.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<p></p>
<br>
<br>

<table border="1" cellpadding="1" cellspacing="1" style="width: 200px;">
  <tbody>
    <tr *ngFor="let row of chunkArray(getArrayOfSize(numeroAsientos), 5); let rowIndex = index">
      <ng-container *ngFor="let item of row; let colIndex = index">
        <!-- Celda con número de asiento y contenido -->
        <td style="width: 5%; padding: 1px; margin: 0; vertical-align: top;">
          <div style="text-align: center; margin-bottom: 5px;">
            <!-- Verificar si la columna es la tercera -->
            <ng-container *ngIf="colIndex === 2">
              <span>Vacío</span>
            </ng-container>
            <!-- Si no es la tercera columna, mostrar el asiento -->
            <ng-container *ngIf="colIndex !== 2">
              <img src="../../../assets/img/asiento_tierra.png" [routerLink]="isSeatSold(item) ? null : ['/ventapasaje']"
                [queryParams]="{
                  asiento: item,
                  origen: origen,
                  destino: destino,
                  tipo: tipo,
                  fecharegistro: fecharegistro,
                  placa: placa,
                  hora: hora,
                  precio: precio
                }"
                class="img-fluid rounded-start centered-image cursor-pointer"
                alt="Imagen del asiento" style="max-width: 30%; height: auto;">
            </ng-container>
          </div>
          <div style="text-align: center;">
            <!-- Mostrar el número de asiento si no es la tercera columna -->
            <ng-container *ngIf="colIndex !== 2">
              <h4>{{ item }}</h4>
              <div *ngIf="isSeatSold(item)" style="color: red;">Vendido</div>
            </ng-container>
          </div>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>