<app-cabecerx></app-cabecerx>
<br>
<br>
<br>
<p></p>
<br>
<p></p>
<br>
<p></p>

<div class="container mt-5">
    <div class="d-flex justify-content-center mb-3">
        <button mat-fab color="primary" aria-label="Example icon button with a home icon" (click)="redirectToHome()">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <div class="row">
        <ng-container *ngFor="let i of getArrayOfSize(numeroAsientos); let idx = index">
            <div class="col-md-6 mb-3">
                <div class="card" [ngClass]="{'orange-background': isSeatSold(idx + 1)}">
                    <div class="row g-0">
                        <div class="col-md-4 mt-5">
                            <img src="../../../assets/img/asiento_tierra.png" [routerLink]="isSeatSold(idx + 1) ? null : ['/ventapasaje']"
                                [queryParams]="{
                                    asiento: idx + 1,
                                    origen: origen,
                                    destino: destino,
                                    tipo: tipo,
                                    fecharegistro: fecharegistro,
                                    placa: placa,
                                    hora: hora,
                                    precio: precio
                                }"
                                class="img-fluid rounded-start centered-image cursor-pointer"
                                alt="Imagen del asiento">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">Asiento {{ idx + 1 }}</h4>
                                <p *ngIf="isSeatSold(idx + 1)" class="text-danger">Vendido</p>
                                <p class="card-text">{{ origen }} &rarr; {{ destino }} | Hora: {{ hora }}</p>
                                <p class="card-text">Tipo: {{ tipo }}</p>
                                <p class="card-text">Precio: {{ precio }} Bs</p>
                                <p class="card-text">Fecha: {{ formatDate(fecharegistro) }}</p>
                                <p class="card-text"><small class="text-body-secondary">Placa: {{ placa }}</small></p>
                                <div class="d-flex justify-content-center">
                                    <button mat-raised-button color="primary" id="buyButton{{ idx }}"
                                    [routerLink]="isSeatSold(idx + 1) ? null : ['/ventapasaje']"
        [queryParams]="{
            asiento: idx + 1,
            origen: origen,
            destino: destino,
            tipo: tipo,
            fecharegistro: fecharegistro,
            placa: placa,
            hora: hora,
            precio: precio
        }"
        
        [disabled]="isSeatSold(idx + 1)"
  (click)="openSoldSeatModal(idx + 1)"
        
        >Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="soldSeatModal" tabindex="-1" role="dialog" aria-labelledby="soldSeatModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="soldSeatModalLabel">Asiento Vendido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Este asiento ya ha sido vendido. Por favor, seleccione otro asiento.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>