<br>
<br>
<p></p>
<app-cabecerx></app-cabecerx>
<br>
<br>
<p></p>
<br>

<app-menu></app-menu>
<br>
<br>
<div class="container">
    <div class="item-list">
         <!-- Tarjeta 1 -->
      <div class="item item-1">
        <div class="img"><a href="javascript:;">
            <div class="like"><i class="fas fa-heart" aria-hidden="true"></i></div></a>
          <div class="img-content"></div>
        </div>
        <div class="social"><a href="javascript:;">
            <div class="fb"><i class="fab fa-facebook" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="ig"><i class="fab fa-instagram" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="tw"><i class="fab fa-twitter" aria-hidden="true"></i></div></a></div>
        <div class="text-container">
          <h2 class="title">La Paz</h2>
          <div class="content">
            <p>La Paz es la ciudad capital más alta del mundo con una altitud de 3.640 metros por sobre el nivel del mar, se ubica a unos 2.850 metros de altura. Su nombre oficial es Nuestra Señora de La Paz</p>
            
          </div>
         
        </div>
      </div>
      <div class="item item-2">
        <div class="img"><a href="javascript:;">
            <div class="like"><i class="fas fa-heart" aria-hidden="true"></i></div></a>
          <div class="img-content"></div>
        </div>
        <div class="social"><a href="javascript:;">
            <div class="fb"><i class="fab fa-facebook" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="ig"><i class="fab fa-instagram" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="tw"><i class="fab fa-twitter" aria-hidden="true"></i></div></a></div>
        <div class="text-container">
          <h2 class="title">Cochabamba</h2>
          <div class="content">
            <p>Considerada como la capital de los valles de Bolivia, Cochabamba se encuentra en una tierra fértil y productiva. La Ciudad, rodeada por campos de cultivos</p>
            
          </div>
          
        </div>
      </div>


      <div class="item item-3">
        <div class="img"><a href="javascript:;">
            <div class="like"><i class="fas fa-heart" aria-hidden="true"></i></div></a>
          <div class="img-content"></div>
        </div>
        <div class="social"><a href="javascript:;">
            <div class="fb"><i class="fab fa-facebook" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="ig"><i class="fab fa-instagram" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="tw"><i class="fab fa-twitter" aria-hidden="true"></i></div></a></div>
        <div class="text-container">
          <h2 class="title">Santa Cruz</h2>
          <div class="content">
            <p>Conocida como la ciudad de los anillos, conformada por 10 anillos concéntricos. Actualmente está considerada como centro económico de Bolivia, destacando la industria agropecuaria, forestal, minera y de hidrocarburos</p>
            
          </div>
         
        </div>
      </div>


      <div class="item item-4">
        <div class="img"><a href="javascript:;">
            <div class="like"><i class="fas fa-heart" aria-hidden="true"></i></div></a>
          <div class="img-content"></div>
        </div>
        <div class="social"><a href="javascript:;">
            <div class="fb"><i class="fab fa-facebook" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="ig"><i class="fab fa-instagram" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="tw"><i class="fab fa-twitter" aria-hidden="true"></i></div></a></div>
        <div class="text-container">
          <h2 class="title">Beni</h2>
          <div class="content">
            <p>La historia del departamento del Beni se remonta a periodos prehispánicos, con la existencia de la cultura de los Arawak de quienes descienden los moxos y los baures, que fueron los pueblos que los jesuitas encontraron a su llegada a las llanuras del Beni</p>
           
          </div>
          
        </div>
      </div>

      <div class="item item-5">
        <div class="img"><a href="javascript:;">
            <div class="like"><i class="fas fa-heart" aria-hidden="true"></i></div></a>
          <div class="img-content"></div>
        </div>
        <div class="social"><a href="javascript:;">
            <div class="fb"><i class="fab fa-facebook" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="ig"><i class="fab fa-instagram" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="tw"><i class="fab fa-twitter" aria-hidden="true"></i></div></a></div>
        <div class="text-container">
          <h2 class="title">Pando</h2>
          <div class="content">
            <p>Pando tiene un relieve mayormente llano y posee una altitud media de 280 metros sobre el nivel del mar. Posee un clima tropical y está cubierto por la selva de la Amazonia y surcado por innumerables ríos.</p>
            
          </div>
          
        </div>
      </div>

      <div class="item item-6">
        <div class="img"><a href="javascript:;">
            <div class="like"><i class="fas fa-heart" aria-hidden="true"></i></div></a>
          <div class="img-content"></div>
        </div>
        <div class="social"><a href="javascript:;">
            <div class="fb"><i class="fab fa-facebook" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="ig"><i class="fab fa-instagram" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="tw"><i class="fab fa-twitter" aria-hidden="true"></i></div></a></div>
        <div class="text-container">
          <h2 class="title">Oruro</h2>
          <div class="content">
            <p>Se encuentra a una altitud de 3.706 metros sobre el nivel del mar, es considerada una de las ciudades más altas del mundo y por ello, también es conocida como “La Alta Tierra de los Urus”</p>
            
          </div>
          
        </div>
      </div>


      <div class="item item-7">
        <div class="img"><a href="javascript:;">
            <div class="like"><i class="fas fa-heart" aria-hidden="true"></i></div></a>
          <div class="img-content"></div>
        </div>
        <div class="social"><a href="javascript:;">
            <div class="fb"><i class="fab fa-facebook" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="ig"><i class="fab fa-instagram" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="tw"><i class="fab fa-twitter" aria-hidden="true"></i></div></a></div>
        <div class="text-container">
          <h2 class="title">Potosi</h2>
          <div class="content">
            <p>Su relieve se caracteriza por presentar una amplia altiplanicie rodeada al Oeste por una cadena de volcanes, y al Este por el cordón de la Cordillera Oriental, en las cuales están presentes valles y quebradas angostas</p>
            
          </div>
         
        </div>
      </div>

      <div class="item item-8">
        <div class="img"><a href="javascript:;">
            <div class="like"><i class="fas fa-heart" aria-hidden="true"></i></div></a>
          <div class="img-content"></div>
        </div>
        <div class="social"><a href="javascript:;">
            <div class="fb"><i class="fab fa-facebook" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="ig"><i class="fab fa-instagram" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="tw"><i class="fab fa-twitter" aria-hidden="true"></i></div></a></div>
        <div class="text-container">
          <h2 class="title">Chuquisaca</h2>
          <div class="content">
            <p>El departamento de Chuquisaca tiene una superficie de 51.524 kilómetros cuadrados, aproximadamente, su relieve es variado con una cadena de montañas perteneciente a la Cordillera Oriental que disminuye en altitud hacia el Este del departamento presentando relieves con pendientes casi planas en la región del Chaco</p>
            
          </div>
          
        </div>
      </div>

      <div class="item item-9">
        <div class="img"><a href="javascript:;">
            <div class="like"><i class="fas fa-heart" aria-hidden="true"></i></div></a>
          <div class="img-content"></div>
        </div>
        <div class="social"><a href="javascript:;">
            <div class="fb"><i class="fab fa-facebook" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="ig"><i class="fab fa-instagram" aria-hidden="true"></i></div></a><a href="javascript:;">
            <div class="tw"><i class="fab fa-twitter" aria-hidden="true"></i></div></a></div>
        <div class="text-container">
          <h2 class="title">Tarija</h2>
          <div class="content">
            <p>tiene un clima social tranquilo con altos niveles de seguridad ciudadana, en las principales poblaciones sus habitantes proceden de distintos lugares, pues, Tarija es un destino elegido tanto por nacionales como extranjeros como lugar de residencia por su paz y armonía con la naturaleza</p>
            
          </div>
          
        </div>
      </div>




    </div>
  </div>

  