<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="counter">
                <div class="counter-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <h3>Buses</h3>
                <span class="counter-value" id="webDesigningCounter">15</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter pink">
                <div class="counter-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <h3>Pasajeros</h3>
                <span class="counter-value" id="webDevelopmentCounter">506</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter rutas">
                <div class="counter-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <h3>Rutas</h3>
                <span class="counter-value" id="webDevelopmentCounter">23</span>
            </div>
        </div>
    </div>
</div>
