<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 text-center"> <!-- Agregamos text-center para centrar el contenido -->
        <img src="../../../../assets/img/mapabolivia.jpg" class="card-img-top imgsrc mx-auto" alt="..."> <!-- Agregamos mx-auto para centrar horizontalmente la imagen -->
        <div class="card-body">
          <h3 class="card-title">Conoce Bolivia</h3>
          <p class="card-text">"¡Descubre la belleza única de Bolivia! Un país lleno de contrastes asombrosos, desde la majestuosidad de los picos andinos hasta la inmensidad de la selva amazónica. En Bolivia, encontrarás paisajes espectaculares, una rica herencia cultural, y una calidez en su gente que te hará sentir como en casa"</p>
        </div>
        <div class="card-footer bcolor">
          <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: .95rem;" routerLink="/cbolivia" >
            Ingresar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center"> <!-- Agregamos text-center para centrar el contenido -->
        <img src="../../../../assets/img/maparuta.png" class="card-img-top imgsrc mx-auto" alt="..."> <!-- Agregamos mx-auto para centrar horizontalmente la imagen -->
        <div class="card-body">
          <h3 class="card-title">Conoce Nuestras Rutas</h3>
          <p class="card-text">"¡Embárcate en un viaje inolvidable a través de las rutas terrestres de Bolivia y descubre un mundo de maravillas naturales y culturales! Nuestro país te ofrece una experiencia única para los amantes de la aventura y la exploración.</p>
        </div>
        <div class="card-footer bcolor">
          <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: .95rem;" routerLink="/crutas">
            Ingresar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center"> <!-- Agregamos text-center para centrar el contenido -->
        <img src="../../../../assets/img/mochila.png" class="card-img-top imgsrc mx-auto" alt="..."> <!-- Agregamos mx-auto para centrar horizontalmente la imagen -->
        <div class="card-body">
          <h3 class="card-title">Tips de Viaje</h3>
          <p class="card-text">Para una experiencia inolvidable en Bolivia, recuerda aclimatarte gradualmente a la altitud, disfruta de la diversidad gastronómica, lleva efectivo y agua embotellada, sé respetuoso con las costumbres locales, y cuida el entorno natural.</p>
        </div>
        <div class="card-footer bcolor">
          <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: .95rem;" routerLink="/ctips">
            Ingresar
          </button>
        </div>
      </div>
    </div>
  </div>
  