<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 text-center"> <!-- Agregamos text-center para centrar el contenido -->
        <img src="../../../../assets/img/mapabolivia.jpg" class="card-img-top imgsrc mx-auto" alt="..."> <!-- Agregamos mx-auto para centrar horizontalmente la imagen -->
        <div class="card-body">
          <h3 class="card-title">Conoce Bolivia</h3>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: .95rem;">
            Ingresar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center"> <!-- Agregamos text-center para centrar el contenido -->
        <img src="../../../../assets/img/maparuta.png" class="card-img-top imgsrc mx-auto" alt="..."> <!-- Agregamos mx-auto para centrar horizontalmente la imagen -->
        <div class="card-body">
          <h3 class="card-title">Conoce Nuestras Rutas</h3>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: .95rem;">
            Ingresar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center"> <!-- Agregamos text-center para centrar el contenido -->
        <img src="../../../../assets/img/mochila.png" class="card-img-top imgsrc mx-auto" alt="..."> <!-- Agregamos mx-auto para centrar horizontalmente la imagen -->
        <div class="card-body">
          <h3 class="card-title">Tips de Viaje</h3>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: .95rem;">
            Ingresar
          </button>
        </div>
      </div>
    </div>
  </div>
  