<div class="card">
    <h3 class="card-header mx-2"><img class="tmim" src="../../../../assets/img/boleto-de-autobus.png">  Busca tu Pasaje</h3>
    <div class="card-body">
      <h5 class="card-title">
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Origen</option>
              <option value="La Paz">La Paz</option>
              <option value="Cochabamba">Cochabamba</option>
              <option value="Santa Cruz">Santa Cruz</option>
              <option value="Oruro">Oruro</option>
            </select>
            <label for="floatingSelect"></label>
          </div>

      </h5>
      <p class="card-text">
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Destino</option>
              <option value="La Paz">La Paz</option>
              <option value="Cochabamba">Cochabamba</option>
              <option value="Santa Cruz">Santa Cruz</option>
              <option value="Oruro">Oruro</option>
            </select>
            <label for="floatingSelect"></label>
          </div>
   
      <a href="#" class="btn btn-primary mt-3">Buscar</a>
    </div>
  </div>