.card {
   /* max-width: 50%; /* Ajusta el ancho máximo según tus necesidades */
    margin: 30px ; /* Esto centra horizontalmente */
    margin-top: 20px; /* Esto agrega un margen superior */
    margin-bottom: 20px; /* Esto agrega un margen inferior */
  }
  
  .tmim {

    width: 50px;
    height: 50px;

  }

 