<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../../assets/img/logocha.png" alt="chakuy" width="50" height="50">
        </div>
        <div class="col-md-8">
          <p class="text-small">Este sitio web, incluyendo todos los textos, imágenes, código fuente y otros contenidos, es propiedad de Chakuy. Se prohíbe la reproducción, distribución, modificación o uso de este sitio web o su contenido sin el permiso expreso.</p>
          <p> Todos los derechos reservados </p>
        </div>
      </div>
    </div>
  </footer>  
  
  