<!--Tabla para 16 pasajeros-->
<table style="border-collapse: collapse; width: 34.1564%;" border="1">
    <tbody>
    <tr>
    <td style="width: 6.28258%;">13</td>
    <td style="width: 9.30043%;">10</td>
    <td style="width: 6.55692%;">7</td>
    <td style="width: 5.04803%;">4</td>
    <td style="width: 6.96848%;">1</td>
    </tr>
    <tr>
    <td style="width: 6.28258%;">14</td>
    <td style="width: 9.30043%;">11</td>
    <td style="width: 6.55692%;">8</td>
    <td style="width: 5.04803%;">5</td>
    <td style="width: 6.96848%;">2</td>
    </tr>
    <tr>
    <td style="width: 6.28258%;">15</td>
    <td style="width: 9.30043%;">&nbsp;</td>
    <td style="width: 6.55692%;">&nbsp;</td>
    <td style="width: 5.04803%;">&nbsp;</td>
    <td style="width: 6.96848%;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 6.28258%;">16</td>
    <td style="width: 9.30043%;">12</td>
    <td style="width: 6.55692%;">9</td>
    <td style="width: 5.04803%;">6</td>
    <td style="width: 6.96848%;">3</td>
    </tr>
    </tbody>
    </table>
    <br>
    <br>
    <br>

    <!--Tabla para 39 pasajeros  Bus Cama-->
    <table style="border-collapse: collapse; width: 34.1564%;" border="1">
        <tbody>
        <tr>
        <td style="width: 6.28258%;">19</td>
        <td style="width: 2.32511%;">16</td>
        <td style="width: 2.32511%;">13</td>
        <td style="width: 4.65022%;">10</td>
        <td style="width: 6.55692%;">7</td>
        <td style="width: 5.04803%;">4</td>
        <td style="width: 6.96848%;">1</td>
        </tr>
        <tr>
        <td style="width: 6.28258%;">20</td>
        <td style="width: 2.32511%;">17</td>
        <td style="width: 2.32511%;">14</td>
        <td style="width: 4.65022%;">11</td>
        <td style="width: 6.55692%;">8</td>
        <td style="width: 5.04803%;">5</td>
        <td style="width: 6.96848%;">2</td>
        </tr>
        <tr>
        <td style="width: 6.28258%;">&nbsp;</td>
        <td style="width: 2.32511%;">&nbsp;</td>
        <td style="width: 2.32511%;">&nbsp;</td>
        <td style="width: 4.65022%;">&nbsp;</td>
        <td style="width: 6.55692%;">&nbsp;</td>
        <td style="width: 5.04803%;">&nbsp;</td>
        <td style="width: 6.96848%;">&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 6.28258%;">21</td>
        <td style="width: 2.32511%;">18</td>
        <td style="width: 2.32511%;">15</td>
        <td style="width: 4.65022%;">12</td>
        <td style="width: 6.55692%;">9</td>
        <td style="width: 5.04803%;">6</td>
        <td style="width: 6.96848%;">3</td>
        </tr>
        </tbody>
        </table>
        <p>&nbsp;</p>
        <table style="border-collapse: collapse; width: 34.1564%; height: 72px;" border="1">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 2.32511%; height: 18px;">37</td>
        <td style="width: 2.32511%; height: 18px;">34</td>
        <td style="width: 4.65022%; height: 18px;">31</td>
        <td style="width: 6.55692%; height: 18px;">28</td>
        <td style="width: 5.04803%; height: 18px;">25</td>
        <td style="width: 6.96848%; height: 18px;">22</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 2.32511%; height: 18px;">38</td>
        <td style="width: 2.32511%; height: 18px;">35</td>
        <td style="width: 4.65022%; height: 18px;">32</td>
        <td style="width: 6.55692%; height: 18px;">29</td>
        <td style="width: 5.04803%; height: 18px;">26</td>
        <td style="width: 6.96848%; height: 18px;">23</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 2.32511%; height: 18px;">&nbsp;</td>
        <td style="width: 2.32511%; height: 18px;">&nbsp;</td>
        <td style="width: 4.65022%; height: 18px;">&nbsp;</td>
        <td style="width: 6.55692%; height: 18px;">&nbsp;</td>
        <td style="width: 5.04803%; height: 18px;">&nbsp;</td>
        <td style="width: 6.96848%; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 2.32511%; height: 18px;">39</td>
        <td style="width: 2.32511%; height: 18px;">36</td>
        <td style="width: 4.65022%; height: 18px;">33</td>
        <td style="width: 6.55692%; height: 18px;">30</td>
        <td style="width: 5.04803%; height: 18px;">27</td>
        <td style="width: 6.96848%; height: 18px;">24</td>
        </tr>
        </tbody>
        </table>