<br>
<br>
<p></p>
<app-cabecerx></app-cabecerx>
<br>
<br>
<p></p>
<br>

<app-menu></app-menu>

  
  <div class="org-chart">
    <!-- Nivel 1 -->
    <div class="employee">
      <a class="badge" href="https://alvaromontoro.com" target="_blank">
        <img src="../../../../assets/img/tordo.png" alt="">
        <div>
          <div class="name">Noelia Indira Vasquez Villarroel</div>
          <div class="title">CEO</div>
        </div>
      </a>
      <!-- Nivel 2 -->
      <div class="subordinates">
        <div class="employee">
          <a class="badge" href="https://example.com" target="_blank">
            <img src="../../../../assets/img/tordo.png" alt="">
            <div>
              <div class="name">Carlos Andres Azcarraga Esquivel</div>
              <div class="title">CTO</div>
            </div>
          </a>
          <!-- Nivel 3 -->
          <div class="subordinates">
            <div class="employee">
              <a class="badge" href="https://example.com" target="_blank">
                <img src="../../../../assets/img/tordo.png" alt="">
                <div>
                  <div class="name">Libre</div>
                  <div class="title">Apoyo</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="employee">
          <a class="badge" href="https://example.com" target="_blank">
            <img src="../../../../assets/img/tordo.png" alt="">
            <div>
              <div class="name">Sergio Marcelo Rocabado Avila</div>
              <div class="title">CMO</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
